{% extends "layouts/container.html" %}
{% load crispy_forms_tags %}
{% block title %}Questionnaire - Delete{% endblock title %}
{% block content %}
  <h1>Delete Questionnaire</h1>
  <p>Are you sure you want to delete the questionnaire "{{ questionnaire.name }}"?</p>
  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Confirm Delete</button>
    <a href="{% url 'questionnaire_detail' questionnaire.id %}" class="btn btn-secondary">Cancel</a>
  </form>
{% endblock %}